@import url(https://fonts.googleapis.com/css2?&family=Poppins&display=swap);

body {
    margin: 0%;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-family: Poppins;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #666;
    color: black;
}

.topnav a.active {
    background-color: #999;
    color: white;
}

.topnav .logo {
    filter: invert(100%);
    float: right;
}
