body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: -40px 0;
  padding: 0;
  overflow: hidden;
  font-size: 45px;
}
.main {
        margin-top: -10;
        background: rgb(209, 224, 15);
        height: 100000px;
        padding:10px;
        animation: beauty 1s linear infinite;
      }
@keyframes beauty {

        100%{
          filter: hue-rotate(360deg);
        }
      }
      iframe{
        /visibility: hidden;
        top: 0;
      }
